Repository paulohenriquevn/lovedcrm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @your-team, @your-admin, @devops-team, @tech-lead, @docs-team, @frontend-team, @backend-team, @database-team, @security-team, @billing-team, @ui-team, @admin-team, @qa-team, @i18n-team

✅ Tabelas CRM Criadas:
  api/models/__init__.py
  api/models/crm_ai_summary.py
  api/models/crm_audit_log.py
  api/models/crm_communication.py
  api/models/crm_file_attachment.py
  api/models/crm_lead.py
  api/models/crm_organization_integration.py
  api/models/organization.py
  docs/project/01-vision.md
  docs/project/07-design-tokens.md
  docs/project/08-landing-page.md
  docs/project/09-ui-ux-designer.md
  docs/project/10-user-journeys.md
  docs/project/11-roadmap.md
  migrations/002_crm_tables_schema.sql
Owners: @backend-team, @database-team, @tech-lead, @docs-team, @your-team

Pre roadmap pronto
  README.md
  app/[locale]/admin/page.tsx
  app/[locale]/design-tokens-demo/page.tsx
  app/[locale]/landing/page.tsx
  app/globals.css
  app/layout.tsx
  components/crm/ai-summary.tsx
  components/crm/communication-channel.tsx
  components/crm/pipeline-kanban.tsx
  components/crm/pipeline-stage.tsx
  components/crm/timeline.tsx
  components/landing/faq-section.tsx
  components/landing/features-section.tsx
  components/landing/footer.tsx
  components/landing/hero-section.tsx
  components/landing/pricing-section.tsx
  components/landing/problem-solution-section.tsx
  components/landing/social-proof-section.tsx
  components/layout/header.tsx
  components/layout/main-layout.tsx
  components/layout/sidebar.tsx
  components/ui/organization-badge.tsx
  package-lock.json
  package.json
  tailwind.config.js
  types/design-tokens.ts
Owners: @your-team, @docs-team, @frontend-team, @ui-team, @devops-team, @your-admin

Kaban
  components/crm/pipeline-kanban.tsx
  components/landing/hero-section.tsx
Owners: @frontend-team, @ui-team

Correcao landing page
  app/[locale]/admin/page.tsx
  components/crm/pipeline-kanban.tsx
  components/landing/faq-section.tsx
  components/landing/features-section.tsx
  components/landing/footer.tsx
  components/landing/pricing-section.tsx
  components/landing/problem-solution-section.tsx
  components/landing/social-proof-section.tsx
  components/layout/header.tsx
  components/organizations/OrganizationFormFields.tsx
  components/settings/BillingComponents.tsx
  components/settings/DangerZoneSection.tsx
  components/settings/DataExportCard.tsx
  components/settings/DeleteConfirmationDialog.tsx
  components/settings/PaymentMethodComponents.tsx
  components/settings/ProfileFormComponents.tsx
  components/settings/ProfileHeader.tsx
  docs/project/11-roadmap-story-1.md
  docs/project/11-roadmap.md
Owners: @frontend-team, @your-team, @ui-team, @admin-team, @docs-team

Revisando agentes
  .claude/commands/01-visionario.md
  .claude/commands/02-product-manager.md
  .claude/commands/03-tech-architect.md
  .claude/commands/04-database-architect.md
  .claude/commands/05-api-architect.md
  .claude/commands/06-solution_diagrams.md
  .claude/commands/07-design-tokens-agent.md
  .claude/commands/08-landing-page-agent.md
  .claude/commands/09-user-journeys-agent.md
  .claude/commands/10-ui-ux-designer.md
  .claude/commands/11-roadmap-strategist.md
  .claude/commands/exec-story.md
  CLAUDE.md
Owners: @your-team, @your-admin, @tech-lead

Database Schema Completo**: Implementação completa superou expectativas com 38 tabelas
  .claude/commands/04-doc-journeys.md
  .claude/commands/exec-bug.md
  .claude/commands/exec-review.md
  CHANGELOG.md
  CLAUDE.md
  app/[locale]/landing-page-v2.tsx
  app/globals.css
  components/landing/competitive-differentiation-section.tsx
  components/landing/final-cta-section.tsx
  components/landing/hero-section-v2.tsx
  components/landing/prd-features-sections.tsx
  components/landing/social-proof-sectorial.tsx
  docs/plans/0.1-database-schema-completo.md
  docs/project/07-diagrams.md
  docs/project/08-design-tokens.md
  docs/project/09-landing-page.md
  docs/project/10-ui-ux-designer.md
  docs/project/11-roadmap.md
  docs/refined/0.1-database-schema-completo.md
  migrations/006_communication_enhancement.sql
  migrations/007_ai_ml_pipeline.sql
  migrations/008_analytics_integrations.sql
  migrations/009_system_support.sql
  migrations/010_performance_indexes.sql
  migrations/011_fix_performance_index.sql
  migrations/012_enhanced_seeds.sql
  migrations/013_enhanced_seeds_fixed.sql
  next.config.js
  tailwind.config.js
Owners: @your-team, @your-admin, @tech-lead, @frontend-team, @ui-team, @docs-team, @database-team, @backend-team, @devops-team

Atualizando roadmap
  CLAUDE.md
  docs/plans/1.1-pipeline-kanban-mvp-basico.md
  docs/project/11-roadmap.md
Owners: @your-team, @tech-lead, @docs-team

# Changelog
  CHANGELOG.md
Owners: @your-team, @your-admin

Inserindo descricao roadmap
  docs/project/11-roadmap.md
Owners: @docs-team, @your-team

Create codeql.yml
  .github/workflows/codeql.yml
Owners: @devops-team, @your-team

Create sonarqube.yml
  .github/workflows/sonarqube.yml
Owners: @devops-team, @your-team

Create ethicalcheck.yml
  .github/workflows/ethicalcheck.yml
Owners: @devops-team, @your-team

Delete .github/workflows/ethicalcheck.yml
  .github/workflows/ethicalcheck.yml
Owners: @devops-team, @your-team

Update sonarqube.yml
  .github/workflows/sonarqube.yml
Owners: @devops-team, @your-team

Delete .github/workflows/sonarqube.yml
  .github/workflows/sonarqube.yml
Owners: @devops-team, @your-team

Historia 1.1 completa
  api/core/websocket_manager.py
  api/services/crm_lead_service.py
  components/crm/pipeline-kanban.tsx
  components/crm/pipeline-types.ts
  components/crm/pipeline-websocket-handlers.tsx
  docs/plans/1.1-pipeline-kanban-mvp-basico.md
  docs/plans/1.2-pipeline-kanban-versao-completa.md
  docs/project/11-roadmap.md
  hooks/use-pipeline-websocket-shared.ts
  hooks/use-pipeline-websocket.ts
Owners: @backend-team, @tech-lead, @frontend-team, @ui-team, @docs-team, @your-team, @your-admin

Melhorias
  .claude/commands/exec-refine.md
  .claude/commands/exec-run.md
  CLAUDE.md
Owners: @your-team, @your-admin, @tech-lead

Melhorias commands
  .claude/commands/01-doc-vision.md
  .claude/commands/02-doc-prd.md
  .claude/commands/03-doc-tech.md
  .claude/commands/04-doc-journeys.md
  .claude/commands/05-doc-database.md
  .claude/commands/06-doc-api.md
  .claude/commands/07-doc-diagrams.md
  .claude/commands/08-doc-design-tokens.md
  .claude/commands/09-doc-landing-page.md
  .claude/commands/10-doc-ui-ux-designer.md
  .claude/commands/11-doc-roadmap.md
  .claude/commands/evolve-feature.md
  .claude/commands/exec-bug.md
  .claude/commands/exec-refine.md
  .claude/commands/exec-review.md
  .claude/commands/exec-run.md
  .claude/commands/exec-story.md
  CLAUDE.md
Owners: @your-team, @your-admin, @tech-lead

Iniciando historia 1.2
  api/core/deps.py
  api/core/sentry.py
  api/core/websocket_manager.py
  api/routers/websocket.py
  api/services/auth_simple.py
  docs/plans/1.2-pipeline-kanban-versao-completa.md
  docs/project/11-roadmap.md
  docs/refined/1.2-pipeline-kanban-versao-completa.md
Owners: @backend-team, @tech-lead, @your-team, @security-team, @docs-team

Correções lint
  components/crm/pipeline-filters-components.tsx
  components/crm/pipeline-filters-sections.tsx
  components/crm/pipeline-filters-types.ts
  components/crm/pipeline-filters-utils.ts
  components/crm/pipeline-filters.tsx
  components/crm/pipeline-kanban-layout.tsx
  components/crm/pipeline-kanban-main-layout.tsx
  components/crm/pipeline-kanban-utils.tsx
  components/crm/pipeline-kanban.tsx
  components/crm/pipeline-metrics-components.tsx
  components/crm/pipeline-metrics-utils.tsx
  components/crm/pipeline-metrics.tsx
  components/crm/pipeline-types.ts
  components/crm/pipeline-websocket-callbacks.ts
  components/crm/pipeline-websocket-handlers.tsx
  components/crm/pipeline-websocket-utils.ts
  components/providers/query-provider.tsx
  components/ui/calendar.tsx
  components/ui/multi-select-components.tsx
  components/ui/multi-select.tsx
  services/crm-leads.ts
Owners: @frontend-team, @ui-team, @your-team, @your-admin

historia 1.2
  .claude/commands/exec-context.md
  .claude/commands/exec-refine.md
  .claude/commands/exec-run.md
  .claude/commands/exec-story.md
  CLAUDE.md
  api/core/websocket_manager.py
  api/routers/crm_leads.py
  api/schemas/crm_lead.py
  api/services/crm_lead_service.py
  components/crm/pipeline-advanced-metrics.tsx
  components/crm/pipeline-basic-metrics.tsx
  components/crm/pipeline-kanban-layout.tsx
  components/crm/pipeline-kanban-main-layout.tsx
  components/crm/pipeline-kanban.tsx
  components/crm/pipeline-metrics-components.tsx
  components/crm/pipeline-metrics-hooks.tsx
  components/crm/pipeline-metrics-utils.tsx
  components/crm/pipeline-metrics.tsx
  components/providers/auth-provider.tsx
  components/providers/query-provider.tsx
  components/ui/calendar.tsx
  docs/plans/1.1-pipeline-kanban-mvp-basico.md
  docs/plans/1.2-pipeline-kanban-versao-completa.md
  docs/project/11-roadmap.md
  docs/refined/1.2-pipeline-kanban-versao-completa.md
  hooks/use-pipeline-websocket-shared.ts
  migrations/README.md
  services/crm-leads.ts
Owners: @your-team, @your-admin, @tech-lead, @backend-team, @frontend-team, @ui-team, @docs-team, @database-team

Historia 1.2
  components/crm/pipeline-filters-components.tsx
  components/crm/pipeline-filters-sections.tsx
  components/crm/pipeline-filters.tsx
  components/crm/pipeline-kanban-layout.tsx
  components/crm/pipeline-kanban-main-layout.tsx
  components/crm/pipeline-kanban.tsx
  components/ui/multi-select-components.tsx
  components/ui/multi-select.tsx
  services/crm-leads.ts
Owners: @frontend-team, @ui-team, @your-team, @your-admin

Correção fitro
  components/crm/pipeline-filters-sections.tsx
  components/crm/pipeline-filters.tsx
  components/crm/pipeline-kanban.tsx
  components/ui/multi-select-components.tsx
  components/ui/multi-select.tsx
Owners: @frontend-team, @ui-team

Correções linters
  components/crm/pipeline-kanban-inner.tsx
  components/crm/pipeline-kanban.tsx
  components/ui/multi-select-components.tsx
  components/ui/multi-select-helpers.tsx
  components/ui/multi-select.tsx
Owners: @frontend-team, @ui-team

Story 1.2 Correcoa linters
  components/crm/pipeline-filters-sections.tsx
  components/crm/pipeline-filters.tsx
  components/crm/pipeline-kanban-layout.tsx
  components/crm/pipeline-metrics.tsx
  components/ui/multi-select-helpers.tsx
  tests/e2e/api/test_pipeline_filters_metrics.py
Owners: @frontend-team, @ui-team, @qa-team, @backend-team

Story 1.2 Concluindo 1.2
  CHANGELOG.md
  docs/project/11-roadmap.md
Owners: @your-team, @your-admin, @docs-team

Finalizando Story 1.3
  .claude/commands/exec-context.md
  .claude/commands/exec-refine.md
  .claude/commands/exec-story.md
  CLAUDE.md
  api/schemas/crm_lead.py
  api/services/crm_lead_service.py
  app/globals.css
  app/pipeline-ux.css
  components/crm/lead-card-components.tsx
  components/crm/lead-card-handlers.tsx
  components/crm/pipeline-drag-logic.tsx
  components/crm/pipeline-filters-sections.tsx
  components/crm/pipeline-handlers.tsx
  components/crm/pipeline-kanban-helpers.tsx
  components/crm/pipeline-kanban-layout.tsx
  components/crm/pipeline-kanban-main-layout.tsx
  components/crm/pipeline-layout-components.tsx
  components/crm/pipeline-loading-components.tsx
  components/crm/pipeline-modal-components.tsx
  components/crm/pipeline-status-components.tsx
  components/crm/pipeline-ux-enhancements.tsx
  docs/plans/1.3-melhorias-ux-pipeline.md
  docs/project/11-roadmap.md
  docs/refined/1.3-melhorias-ux-pipeline.md
Owners: @your-team, @your-admin, @tech-lead, @backend-team, @frontend-team, @ui-team, @docs-team

Story 1.3 CHANGELOG
  CHANGELOG.md
  docs/project/11-roadmap.md
Owners: @your-team, @your-admin, @docs-team

Versao estável
  .claude/commands/exec-story.md
  .eslintrc.js
  app/[locale]/admin/settings/providers/page.tsx
  components/crm/lead-edit-tags-manager.tsx
  components/landing/hero-components.tsx
  components/providers/CostAnalytics.tsx
  components/providers/ProviderCard.tsx
  components/providers/migration-wizard-handlers.tsx
  components/providers/migration-wizard-utils.tsx
  hooks/use-scroll-animation.ts
Owners: @your-team, @your-admin, @frontend-team, @ui-team

Correção docs
  .claude/commands/03-doc-tech.md
  .claude/commands/08-doc-design-tokens.md
  .claude/commands/09-doc-admin-page.md
  .claude/commands/09-doc-landing-page.md
  .claude/commands/10-doc-ui-ux-admin-page.md
  .claude/commands/10-doc-ui-ux-designer.md
  .claude/commands/10-doc-ui-ux-landing-page.md
  .claude/commands/exec-run.md
  CHANGELOG.md
  CLAUDE.md
Owners: @your-team, @your-admin, @tech-lead

Story 3.1
  CHANGELOG.md
  api/models/crm_lead.py
  api/routers/crm_leads.py
  api/schemas/crm_lead.py
  api/services/crm_lead_assignment_service.py
  api/services/crm_lead_deduplication_service.py
  api/services/crm_lead_scoring_service.py
  components/crm/assignment-dialog.tsx
  components/crm/duplicate-leads-dialog.tsx
  components/crm/duplicate-leads-panel.tsx
  components/crm/lead-assignment-panel.tsx
  components/crm/lead-card-components.tsx
  components/crm/lead-score-display.tsx
  docs/plans/3.1-lead-management-mvp.md
  docs/refined/3.1-lead-management-mvp.md
  migrations/003_lead_scoring_system.sql
  requirements.txt
  services/crm-leads.ts
  test_assignment_debug.py
  test_story_3_1_simple.py
  tests/e2e/api/test_crm_collaboration.py
  tests/e2e/api/test_pipeline_filters_metrics.py
  tests/e2e/api/test_story_3_1_lead_management.py
Owners: @your-team, @your-admin, @backend-team, @database-team, @frontend-team, @ui-team, @docs-team, @tech-lead, @devops-team, @qa-team

Story 4.1
  CHANGELOG.md
  api/main.py
  api/routers/audit.py
  api/routers/roles.py
  api/services/audit_service.py
  app/[locale]/admin/security/audit/page.tsx
  app/[locale]/admin/settings/page.tsx
  app/[locale]/admin/settings/providers/page.tsx
  components/admin/organization-header.tsx
  components/admin/role-guard.tsx
  docs/plans/4.1-multi-tenancy-core-mvp-basico.md
  docs/plans/STORY-4.2-ORGANIZATION-MANAGEMENT-EXECUTION-PLAN.md
  docs/project/11-roadmap.md
  docs/refined/4.2-organization-management-versao-completa.md
  docs/refined/STORY-4.1-MULTI-TENANCY-CORE-REFINED.md
  hooks/use-permissions.ts
Owners: @your-team, @your-admin, @backend-team, @frontend-team, @ui-team, @docs-team

Remove B2C
  .claude/commands/01-doc-vision.md
  .claude/commands/02-doc-prd.md
  .claude/commands/03-doc-tech.md
  .claude/commands/04-doc-journeys.md
  .claude/commands/05-doc-database.md
  .claude/commands/06-doc-api.md
  CLAUDE.md
  RULES.md
  api/core/config.py
  api/services/auth_simple.py
  check-saas-mode.sh
  components/layout/admin-navigation.tsx
  docs/tech/MULTI-TENANCY-GUIDE.md
  hooks/use-saas-mode.ts
  tests/e2e/api/test_saas_mode_b2b.py
  tests/e2e/api/test_saas_mode_b2c.py
  tests/frontend/hooks/useSaasMode.test.ts
  tests/unit/core/test_config.py
  tests/unit/services/test_auth_simple.py
Owners: @your-team, @your-admin, @tech-lead, @backend-team, @security-team, @frontend-team, @ui-team, @docs-team, @qa-team

Correção commands
  .claude/commands/07-doc-diagrams.md
  .claude/commands/08-doc-design-tokens.md
  .claude/commands/09-doc-admin-page.md
  .claude/commands/09-doc-landing-page.md
  .claude/commands/10-doc-ui-ux-admin-page.md
  .claude/commands/10-doc-ui-ux-landing-page.md
  .claude/commands/11-doc-roadmap.md
  .claude/commands/evolve-feature.md
  .claude/commands/exec-bug.md
  .claude/commands/exec-context.md
  .claude/commands/exec-refine.md
  .claude/commands/exec-review.md
  .claude/commands/exec-run.md
  .claude/commands/exec-story.md
  .claude/commands/shared/README.md
  .claude/commands/shared/anti-hallucination-guide.md
  .claude/commands/shared/common-validations.md
  .claude/commands/shared/factuality-guidelines.md
  .claude/commands/shared/thinking-framework.md
Owners: @your-team, @your-admin

Correções teste
  api/routers/roles.py
  api/services/role_management_service.py
Owners: @backend-team, @your-team

Refactor
  CLAUDE.md
  api/services/auth.py
  components/crm/lead-edit-form-utils.tsx
  components/crm/lead-edit-modal-form.tsx
  components/crm/lead-edit-modal-refactored.tsx
  components/crm/lead-edit-modal-utils.ts
  components/crm/lead-edit-modal.tsx
  components/landing/footer-components.tsx
  components/landing/footer-data.ts
  components/landing/footer-utils.ts
  components/landing/hero-components.tsx
  components/landing/hero-dashboard-components.tsx
  components/landing/hero-section-components.tsx
  components/landing/hero-section-old-components.tsx
  components/landing/hero-utils.ts
Owners: @your-team, @tech-lead, @backend-team, @security-team, @frontend-team, @ui-team

Refactor
  app/[locale]/admin/security/audit/components/audit-log-table.tsx
  app/[locale]/admin/security/audit/components/statistics-cards.tsx
  app/[locale]/admin/security/audit/page.tsx
  components/admin/organization-header.tsx
  components/admin/role-guard.tsx
  components/crm/pipeline-kanban-inner-layout.tsx
  components/crm/pipeline-kanban-inner.tsx
Owners: @frontend-team, @your-team, @ui-team

Tes
  test_assignment_debug.py
  test_story_3_1_simple.py
Owners: @your-team, @your-admin

Correções e refactor
  CHANGELOG.md
  api/models/__init__.py
  api/models/crm_lead.py
  api/models/crm_lead_score_history.py
  api/routers/audit.py
  api/routers/billing.py
  api/routers/crm_lead_trends.py
  api/routers/crm_leads.py
  api/services/crm_lead_score_history_service.py
  api/services/crm_lead_service.py
  api/services/role_management_service.py
  app/[locale]/admin/security/audit/mock-data.ts
  app/[locale]/admin/security/audit/page.tsx
  components/crm/pipeline-kanban-inner-bulk.tsx
  components/crm/pipeline-kanban-inner-handlers.tsx
  components/crm/pipeline-websocket-callbacks.ts
  components/settings/DeleteOrganizationSection.tsx
  components/settings/NotificationSettingsView.tsx
  components/settings/SettingsTabsView.tsx
  docs/context/PROJECT-CONTEXT-2025-08-13-212702.md
  hooks/use-notifications.ts
  hooks/use-org-context.ts
  hooks/use-user-organizations.ts
  lib/org-validation.ts
  migrations/004_lead_score_history_table.sql
  services/members.ts
Owners: @your-team, @your-admin, @backend-team, @database-team, @billing-team, @tech-lead, @frontend-team, @ui-team, @admin-team, @docs-team

Refactors
  CHANGELOG.md
  CLAUDE.md
  app/[locale]/admin/security/audit/components/audit-filters.tsx
  app/[locale]/admin/security/audit/components/audit-log-table.tsx
  app/[locale]/admin/security/audit/components/audit-page-header.tsx
  app/[locale]/admin/security/audit/components/statistics-cards.tsx
  app/[locale]/admin/security/audit/page.tsx
  app/[locale]/admin/security/audit/types.ts
  components/admin/organization-header.tsx
  components/admin/role-guard.tsx
  components/crm/pipeline-drag-logic.tsx
  components/crm/pipeline-types.ts
  components/layout/admin-navigation.tsx
  components/ui/badge.tsx
  docs/context/PROJECT-CONTEXT-2025-08-13-212702.md
  docs/plans/4.1-multi-tenancy-core-mvp-basico.md
  docs/plans/STORY-4.2-ORGANIZATION-MANAGEMENT-EXECUTION-PLAN.md
  docs/project/11-roadmap.md
  docs/refined/4.2-organization-management-versao-completa.md
  docs/refined/STORY-4.1-MULTI-TENANCY-CORE-REFINED.md
  hooks/use-permissions.ts
Owners: @your-team, @your-admin, @tech-lead, @frontend-team, @ui-team, @docs-team

.github/CODEOWNERS:

# CODEOWNERS - Multi-Tenant SaaS System
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global ownership - these users/teams are the default owners for everything
* @your-team @your-admin

# =================== CORE SYSTEM ===================

# Root configuration files
/.github/ @your-team @devops-team
/CLAUDE.md @your-team @tech-lead
/README.md @your-team @docs-team
/package.json @frontend-team @your-team
/requirements.txt @backend-team @your-team
/railway.json @devops-team @your-team

# =================== BACKEND (API) ===================

# Core backend infrastructure
/api/ @backend-team @your-team
/api/core/ @backend-team @tech-lead
/api/models/ @backend-team @database-team
/api/repositories/ @backend-team @database-team

# Critical multi-tenancy components (requires extra review)
/api/core/organization_middleware.py @backend-team @tech-lead @security-team
/api/core/deps.py @backend-team @tech-lead
/api/services/ @backend-team

# Security and authentication
/api/core/security.py @backend-team @security-team @tech-lead
/api/routers/auth.py @backend-team @security-team
/api/services/auth* @backend-team @security-team

# Billing and payments (Stripe integration)
/api/routers/billing.py @backend-team @billing-team @tech-lead
/api/services/stripe_service.py @backend-team @billing-team
/api/models/billing.py @backend-team @billing-team @database-team

# Organization management (critical for multi-tenancy)
/api/routers/organizations.py @backend-team @tech-lead
/api/services/organization* @backend-team @tech-lead
/api/models/organization* @backend-team @database-team @tech-lead

# =================== FRONTEND ===================

# Frontend application
/app/ @frontend-team @your-team
/components/ @frontend-team @ui-team
/containers/ @frontend-team

# Critical frontend multi-tenancy
/services/base.ts @frontend-team @tech-lead
/hooks/use-org-context.ts @frontend-team @tech-lead
/components/providers/org-provider.tsx @frontend-team @tech-lead

# Admin interface (organization management)
/app/[locale]/admin/ @frontend-team @admin-team @tech-lead
/containers/organizations/ @frontend-team @admin-team @tech-lead

# Authentication pages
/app/[locale]/auth/ @frontend-team @security-team
/containers/auth/ @frontend-team @security-team

# Settings and billing
/app/[locale]/admin/settings/ @frontend-team @admin-team
/app/[locale]/admin/billing/ @frontend-team @billing-team
/containers/settings/ @frontend-team @admin-team
/components/settings/ @frontend-team @admin-team

# UI components and design system
/components/ui/ @frontend-team @ui-team
/lib/design-tokens.ts @frontend-team @ui-team

# =================== DATABASE ===================

# Database migrations (critical for production)
/migrations/ @database-team @backend-team @tech-lead
/migrations/migrate @database-team @devops-team @tech-lead

# Migration files (require careful review)
/migrations/*.sql @database-team @backend-team @tech-lead

# =================== TESTING ===================

# Test configurations
/tests/ @qa-team @backend-team
/tests/e2e/api/ @qa-team @backend-team
/tests/unit/ @qa-team @backend-team

# Critical multi-tenancy tests
/tests/e2e/api/test_multi_tenant_isolation.py @qa-team @backend-team @tech-lead @security-team

# Security and authentication tests
/tests/e2e/api/test_auth.py @qa-team @backend-team @security-team

# Frontend tests
/tests/frontend/ @qa-team @frontend-team
*.test.tsx @qa-team @frontend-team
*.test.ts @qa-team @frontend-team

# =================== DOCUMENTATION ===================

# Core documentation
/docs/ @docs-team @your-team
/docs/MULTI-TENANCY-* @docs-team @tech-lead @backend-team
/docs/PRODUCTION-* @docs-team @devops-team
/docs/SECURITY-* @docs-team @security-team

# Agent system documentation
/agents/ @docs-team @your-team @tech-lead

# =================== DEPLOYMENT & DEVOPS ===================

# CI/CD and deployment
/.github/workflows/ @devops-team @your-team
/docker-compose*.yml @devops-team @backend-team
/Dockerfile* @devops-team @backend-team

# Configuration files
/next.config.js @frontend-team @devops-team
/tailwind.config.js @frontend-team @ui-team
/tsconfig.json @frontend-team @your-team
/pyproject.toml @backend-team @your-team
/pytest.ini @qa-team @backend-team

# =================== SECURITY CRITICAL ===================

# Security configuration (requires security team review)
/api/core/security.py @security-team @tech-lead @backend-team
/api/core/token_blacklist.py @security-team @backend-team
/middleware.ts @security-team @frontend-team

# Environment and secrets
.env* @devops-team @security-team @tech-lead
/docs/GITHUB-SECRETS-* @devops-team @security-team

# =================== INTERNATIONALIZATION ===================

# Translation files
/messages/ @i18n-team @frontend-team
/lib/i18n/ @i18n-team @frontend-team
/next-intl.config.ts @i18n-team @frontend-team

# =================== SPECIAL FILES ===================

# Package management
package-lock.json @frontend-team @devops-team
requirements.txt @backend-team @devops-team

# Git configuration
.gitignore @devops-team @your-team
.gitattributes @devops-team @your-team

# Editor configuration
.vscode/ @your-team
.cursor/ @your-team
